baseURL: https://ssungwxx.github.io

title: "SugnwooKim's place"
theme: "toha"


DefaultContentLanguage: ko

languages:
  ko:
    languageName: "Korean"
    weight: 1

# Control TOC depth
markup:
  tableOfContents:
    startLevel: 2
    endLevel: 6
    ordered: false
 
# At least HTML and JSON are required for the main HTML content and
# client-side JavaScript search
outputs:
  home:
  - HTML
  - RSS
  - JSON

# Enable global emoji support
enableEmoji: true

params:
  # GitHub repo URL and branch of your site
  gitRepo: https://github.com/ssungwxx/ssungwxx.github.io
  gitBranch: main

  # specify whether you want to write some blog posts or not
  enableBlogPost: true

  # specify whether you want to show Table of Contents in reading page
  enableTOC: true
